<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header"> <p class="navbar-brand">Trend Report</p></div>
    <div class="dropdown navbar-right">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Click to view trends!</button>
      <ul class="dropdown-menu">
        <li><a href="#">Women's Fashion</a></li>
        <li class="divider"></li>
        <li><a href="#">Men's Fashion</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </div>
</nav>