<%= render "nav_bar" %>

<section class="hero" id="hero">
<div class="container">

    <div class="row" id="articles-page-content">

        <div class="col-lg-12">
            <h1 class="animated fadeInDown" align="center">Favourites</h1>
            <br /><br /><br />
        </div>

        <!-- Favourites will go here -->

    </div>

    <hr>

</div>
</section>