<!-- <%= stylesheet_link_tag 'welcome-index' %>

    <body id="top">

      <!-- ****************************** Preloader ************************** -->
      <div id="preloader"></div>


      <!-- ==========================
        HEADER SECTION 
        =========================== -->
        <header id="home">
        <!-- creative menu -->
            <div class="container-fluid">
              <div class="row">
                <div class="menu-wrap">
        <nav class="menu">
            <!-- Menu Links -->
          <div class="icon-list">
            <a href="index.html#home"><i class="fa fa-fw fa-home"></i><span>Categories</span></a>
          </div>
        </nav>
          </div>
          <button class="menu-button" id="open-button"></button><!-- menu button -->
              </div><!--/row-->
            </div><!--/container-->
      <!-- Header Image -->
          <section class="hero" id="hero">
            <div class="container">
        <!-- Slider Button (don't edit!)-->
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
                </div>
              </div>
        <!-- HEADER HEADLINE -->
              <div class="row">
                <div class="col-md-8 col-md-offset-1 inner">
                  <h1 class="animated fadeInDown">
                    T<span style="color:#E04343;">r</span>en<span style="color:#E04343;">d</span><br/>
                    <span>R<span style="color:#FFE800">e</span>p</span><span style="color:#FFE800">o</span>r<span style="color:#FFE800">t</span>
                  </h1><!-- Title -->
                  <h3 class="animated fadeInUp delay-05s"><span class="rotate">Keep up with your favourite trends</span></h3><!-- Text Rotator -->
                </div>
              </div>
            </div>
          </section>
      <!-- Header Image End -->
        </header>
    <!-- ==========================
        HEADER SECTION END  
        =========================== -->
    
    <!-- ==========================
        FOOTER SECTION
        =========================== -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>Layout by <a href="http://www.themewagon.com">ThemeWagon</a>
              </div>
            </div>
          </div>
        </footer>
    <!-- ==========================
        FOOTER SECTION END
        =========================== -->   