<head>
  <title>Search</title>
</head>
<body>
  <!-- view rendered will be the index view of our articles resource -->
  <%= form_tag(fashion_men_articles_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <%= text_field_tag :query, "Search Articles" %>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
  <% end %>
</body>