
.trend {
padding-top: 10px;
}

h1 {
	margin-left: 10px;
}

#fh5co-hero, .fh5co-bg-section {
  color: #fff;
  background-color: #e9e9e9;
  background-size: cover;
  background-position: center center;
  margin-top: 0px;
  z-index: 10;
  position: relative;
}
#fh5co-hero .fh5co-overlay, .fh5co-bg-section .fh5co-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 1;
  z-index: 11;
}

#fh5co-hero, .fh5co-hero-wrap, .fh5co-bg-section {
  height: 700px;
}
@media screen and (max-width: 768px) {
  #fh5co-hero, .fh5co-hero-wrap, .fh5co-bg-section {
    height: inherit;
    padding: 3em 0;
  }
}

#fh5co-hero .fh5co-hero-wrap, .fh5co-bg-section .fh5co-hero-wrap {
  display: table;
  width: 100%;
  z-index: 12;
  position: relative;
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro, .fh5co-bg-section .fh5co-hero-wrap .fh5co-hero-intro {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro .fh5co-lead, #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro .fh5co-sub-lead, .fh5co-bg-section .fh5co-hero-wrap .fh5co-hero-intro .fh5co-lead, .fh5co-bg-section .fh5co-hero-wrap .fh5co-hero-intro .fh5co-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro .fh5co-lead, .fh5co-bg-section .fh5co-hero-wrap .fh5co-hero-intro .fh5co-lead {
  margin-bottom: 30px;
}

.fh5co-bg-section, .fh5co-hero-wrap {
  height: 400px;
}
@media screen and (max-width: 768px) {
  .fh5co-bg-section, .fh5co-hero-wrap {
    height: inherit;
    padding: 3em 0;
  }
}

.fh5co-bg-section .fh5co-overlay {
  background: #000;
  opacity: .7;
}
.fh5co-bg-section .author {
  font-size: 20px;
  margin-bottom: 0;
}

#fh5co-main {
  padding-top: 5em;
}

#fh5co-board .item {
  margin: 10px 10px 20px 10px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
#fh5co-board .item a {
  display: block;
}
#fh5co-board .item .fh5co-desc {
  padding: 20px;
  float: left;
  line-height: 24px;
}
#fh5co-board .item .fh5co-item-title {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
#fh5co-board .item img {
  max-width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#fh5co-board .item .fh5co-board-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
#fh5co-board .item .image-popup:hover img {
  opacity: .5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

img {
	width: auto;
	max-width: 150px;
	height: auto;
	max-height: 150px;
}

h3 {
	font-size: 15px;
}

