<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Trend Report, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Trend Report, and now you can save all of your favourite trends in your account!
      your username is: <%= @user.login %>.<br>
    </p>
    <p>To login to Trend Report, just follow this link: <%= @url %>.</p>
    <p>Thanks for joining and stay trendy!</p>
  </body>
</html>